proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.android/app/build/
proj.android/app/.cxx/cmake/
cocos2d/cocos/platform/android/libcocos2dx/build/
cocos2d/build/
proj.ios_mac/build/
.VC*
.vs*
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.suo
*.pch
*.tlog
*.log
