<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badFish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,370}</string>
                <key>spriteSourceSize</key>
                <string>{384,370}</string>
                <key>textureRect</key>
                <string>{{0,640},{384,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badFish_rotated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,384}</string>
                <key>spriteSourceSize</key>
                <string>{370,384}</string>
                <key>textureRect</key>
                <string>{{384,640},{370,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,139}</string>
                <key>spriteSourceSize</key>
                <string>{140,139}</string>
                <key>textureRect</key>
                <string>{{754,640},{140,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{894,640},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonRedPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{918,640},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,349}</string>
                <key>spriteSourceSize</key>
                <string>{350,349}</string>
                <key>textureRect</key>
                <string>{{0,1024},{350,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,349}</string>
                <key>spriteSourceSize</key>
                <string>{350,349}</string>
                <key>textureRect</key>
                <string>{{350,1024},{350,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{700,1024},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>graphics.png</string>
            <key>size</key>
            <string>{960,1373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a5e8620b447c1a8616044dc33c0fca:bef47a9664d554f7b50f760e1f68661d:2a5da6da057a8fcb4f7524612837011c$</string>
            <key>textureFileName</key>
            <string>graphics.png</string>
        </dict>
    </dict>
</plist>
